<?xml version="1.0" encoding="UTF-8"?>

<configuration>

<system.webServer>

<handlers>

<add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />

</handlers>

<httpPlatform stdoutLogEnabled="true" processesPerApplication="1" stdoutLogFile="C:\inetpub\wwwroot\rails\helpymaster\log\rails.log" startupTimeLimit="200" processPath="c:\RailsInstaller\Ruby2.2.0\bin\ruby.exe"

arguments="&quot;C:\RailsInstaller\Ruby2.2.0\bin\puma&quot; –env test –dir c:\inetpub\wwwroot\rails\helpymaster -p %HTTP_PLATFORM_PORT%  -w0">

</httpPlatform>

</system.webServer>

</configuration>